
        html,body{
            margin: 0;
            padding: 0;
            height: 100%;
        }

        .box div{
            float: left;
            display: inline-block;
            background-color: antiquewhite;
            width: 40px;
            height: 40px;
            line-height: 40px;
            
        }
        .box{
            width: 200px;
            margin-left: 100px;
            margin-top: 100px;
        }
    